/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
body {
  margin-bottom: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}
