.user-info {
  text-align: center;
  margin-top: 30px;
}

.user-details h2 {
  color: #7E8399;
  font-size: 18px;
}

.active-star {
  color: #FFCC00;
}
.inactive-star {
  color: #CCCCCC;
}

.dashboard {
  margin-top: 30px;
  .nav-tabs {
    border-bottom: none;
    background-color: #F3F3F3;
    border: none;
    a {
      color: black;
    }
    .active a {
    border-bottom: solid #777;
    border-width: 0 0 3px 0;
    color: black;
    background-color: transparent;
    &:hover {
      background-color: transparent;
      border-bottom: solid #777;
      border-width: 0 0 3px 0;
    }
    }
    li {
      width: 50%;
      text-align: center;
    }
    li a {
      background-color: transparent;
      border-bottom: solid;
      border-color: transparent;
      border-width: 0 0 3px 0;
      padding: 20px;
      margin: 0;
      &:hover, &:active, &:focus {
      background-color: transparent;
      border-bottom: solid #777;
      border-width: 0 0 3px 0;
    }
    }
  }

  th {
    color: #CCCCCC;
    text-transform: uppercase;
  }

  tr {
    border: none;
  }

  .table td, .table th {
    padding: 15px;
  }

  .btn-success {
    background-color: #32B796;
    color: white;
    border: none;
  }

  .btn-danger {
    background-color: #EE5F5B;
    color: white;
    border: none;
  }

}
