.user-info {
  text-align: center;
  margin-top: 30px;
}

.user-details h2 {
  color: #7E8399;
  font-size: 18px;
}

.active-star {
  color: #FFCC00;
}
.inactive-star {
  color: #CCCCCC;
}

.dashboard {
  margin-top: 30px;
}
