.place-photo-wrapper {
  color: white;
  text-align: center;
  height: 400px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  height: calc(100vh - 70px);
  width: 100%;
  margin-bottom: 30px;
  position: absolute;
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .btn {
    border-radius: 50px;
    margin-top: 15px;
    background-color: rgba(0,0,0,0);
    border: 1px white solid;
    color: white;
    &:hover {
      background-color: rgba(0,0,0,0.3);
    }
  }
}

.banner-content {
  top: 0;
  color: white;
}


.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}


