.place-photo-wrapper {
  color: white;
  text-align: center;
  height: 400px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-wrapper {
  height: calc(100vh - 70px);
  width: 100%;
  margin-bottom: 30px;
  position: absolute;
  top: 70px;
  .btn {
    background-color: transparent;
    border: none;
    color: gray;
    &:hover {
      background-color: transparent;
      color: #4C4C4C;
    }
  }
  input {
    height: 50px;
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.2);
    font-size: 20px;
    font-weight: bolder;
  }
  .form-group, .form-control {
    width: 100%;
  }
  form {
    position: relative;
  }
  input {
    border-radius: 25px;
  }
  button {
    position: absolute;
    top: 13px;
    right: 14px;
    padding: 0;
  }
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 70px);
  h1 {
    margin-bottom: 30px;
  }
}

.banner-content {
  color: white;
}


.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.button-wrapper {
  text-align: center;
}

