<div class="wrapper">
  <div class="container">
    <div class="row", id="place-list">
      <% @places.each do |place| %>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="card text-center">


            <div class="card-header" style="background-image: url('https://unsplash.it/g/400x300')">
            </div>


            <div class="card-description">
              <h3><%= place.name %></h3>
            </div>
            <%= link_to "", place_path(place), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'Add new place', new_place_path(@place), class: "btn btn-success" %>
</div>



