<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sx-12 col-md-6 col-sm-4">
        <% @places.each do |place| %>
          <div class="card">
            <div class="card-category">Popular</div>
              <div class="card-description">
                <h2><%= place.name %></h2>
                <p><%= place.description %></p>
              </div>
              <%= image_tag "user.jpg", class: "card-user avatar" %>
              <%= link_to "#", "place_path(@place)", class: "card-link" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
